# Entornos virtuales
.venv/
venv/
env/

# Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env

# Logs
logs/

# SO / editor
.DS_Store
.vscode/
.idea/

# Monitor runtime
.monitor/
